<h2>List Posts</h2>

<form action="/post/create" method="POST" enctype="multipart/form-data">
  <textarea name="text" maxlength="140" placeholder="Write your text here..." required></textarea>
  <input type="file" name="images" multiple />
  <button class="btn">Publish</button>
</form>


{{#each posts}}
  <a href="/post/{{ this._id }}">
    {{> singlepost}}
  </a>
{{/each}}