<h1>{{title}}</h1>
<p>Welcome {{user.name}}</p>

<div class="div-map map-welcome-page" id="map"></div>
{{!-- <script>
    function initMap() {
        const $mapContainer = document.getElementById('map');
        window.onload = function () {
            const promisifiedLocateUser = options =>
                new Promise((resolve, reject) => {
                    navigator.geolocation.getCurrentPosition(resolve, reject, options);
                });
            promisifiedLocateUser()
                .then(data => {
                    console.log('Success', data);
                    new window.google.maps.Map($mapContainer, {
                        center: { lat: data.coords.latitude, lng: data.coords.longitude },
                        zoom: 11,
                        mapTypeId: 'roadmap'
                    });
                    new window.google.maps.Marker($mapContainer, {
                        map: map,
                        position: { lat: data.coords.latitude, lng: data.coords.longitude },
                        icon: {
                            url: "http://maps.google.com/mapfiles/ms/icons/blue-dot.png"
                        }
                    });
                })
                .catch(error => {
                    console.log('Error locating user', error);
                });
        }
    }
    initMap();
</script> --}}

<script>
    function initMap() {
        const $mapContainer = document.getElementById('map');

        const map = new window.google.maps.Map($mapContainer, {
            center: { lat: 38.818752, lng: -9.472837 },
            zoom: 8
        });

        const $inputLatitude = document.querySelector('input[name="latitude"]');
        const $inputLongitude = document.querySelector('input[name="longitude"]');

        let placedMarker;

        map.addListener('click', event => {
            const position = {
                lat: event.latLng.lat(),
                lng: event.latLng.lng()
            };

            $inputLatitude.value = position.lat;
            $inputLongitude.value = position.lng;

            if (placedMarker) {
                placedMarker.setMap(null);
            }

            placedMarker = new window.google.maps.Marker({
                position,
                map
            });
        });
    }
</script>