<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../styles/style.css">
</head>


<body>
  <nav>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Home Page</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">

  {{#if user}}
<li class="nav-item active">
    <form action="/authentication/sign-out" method="POST">
      <a class="nav-link" href="/authentication/sign-out">Sign Out</a>
    </form>
    <a href="/profile">{{user.name}}'s Profile</a>
</li>


   {{else}}

   <li class="nav-item">       
    <a class="nav-link" href="/authentication/sign-in">Sign In</a>
   </li>

   <li class="nav-item"> 
    <a class="nav-link" href="/authentication/sign-up">Sign Up</a>
    {{/if}}


      <li class="nav-item">
        <a class="nav-link" href="#">About us</a>
      </li>
      
    </ul>
  </div>

</nav>


<div class="jumbotron">
  <h1 class="display-4">Surf Mate finder</h1>
  <p class="lead"> Find your instructor near by and go surf</p>
  <hr class="my-4">
  <p>Search by time, location, experience and find like-minded people to share your next surf experience</p>
  <a class="btn btn-primary btn-lg" href="/authentication/sign-up" role="button">Register today</a>
</div>




  
  {{{body}}}

  <script src="/scripts/script.js"></script>
  <script>



//Comentado para nao aparecer na home  MAP

   // function initialize() {
  // initMap();
  //    initMap2();
  //  }

    function initMap() {
      console.log('Google library was loaded');
      const $mapContainer = document.getElementById('map');


      if ($mapContainer) {
        const map = new window.google.maps.Map($mapContainer, {
          center: {
            lat: 38.7,
            lng: -9.1
          },
          zoom: 12,
          //disableDefaultUI: true,
          //mapTypeId: 'satellite',
          //mapTypeId: 'roadmap', // -> default
          //mapTypeId: 'terrain',
          mapTypeId: 'hybrid',
        });

        const betaICoordinates = {
          lat: 38.729,
          lng: -9.144
        };

        const marker = new window.google.maps.Marker({
          position: betaICoordinates,
          map
        });

        map.addListener('click', event => {
          console.log(event);
          const position = {
            lat: event.latLng.lat(),
            lng: event.latLng.lng()
          };
          //console.log(position);
          new window.google.maps.Marker({
            position,
            map
          });

        })
      }

    };

  </script>
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDGD7_VrYPlO5F-qYuZSo_KSNAjHWev2Tg&callback=initialize"></script>
</body>

</html>